header{
    background-image: url('/img/bola-campo.webp');
    background-position: right;
    background-size: 1000px auto;
    height: 500px;
    margin-top: -60px;
    margin-bottom: -60px;
    
    h1{
        color: white;
        font-size: 90px;
        padding-top: 70px;
    }
}